PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/pebeto-creators-hub
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d
EXCHANGE_RATE_API_KEY=
EXCHANGE_RATE_API_URL=https://v6.exchangerate-api.com/v6
CLIENT_ORIGIN=*
Consumer Key: 0o98K5I32AgUiBz2APdn4F6WrHwNgNifcYa9W6vQEh1ZKuKQn8pg1LJbMf3nlca0
Consumer Secret: 0o98K5I32AgUiBz2APdn4F6WrHwNgNifcYa9W6vQEh1ZKuKQn8pg1LJbMf3nlca0
Sandbox Passkey: bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
Sandbox Paybill/Shortcode: 174379
Test Phone Number: Party A: 254708374149
Party B: 254708374149
Mpesa Password: kxTVOglxOlgnUhZN45RO2GpEpxSaxnmMkm3MkSsL0Kpe/xcR8nPtJzMscLVnry1ntMnrmBgA7J7sR9Qyg7qEuiVhcuxWv55CHofuc6S916NxSXgEiaMnlwmgdELCXtXel5yTSSaFR/9lAzRuGqIqoQ4NFCOBk8XN0c97BET7Jqs1XO/sanpdWsFSZZ7jgYarTaS6mzOBny++OOohDt2uPCMUr/kiEzDgHvcU7Q6wiR4nFEcjGlbfrNDic9iimoT8E9b/izvcerZ9sadeJ7ILU05T1Z5yxj1DIjBHQenMaouoRlUg4a5sToSCeheVWHxRCtkg8I4bkWXY4ofJPE5EjA==
